{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-6 offset-md-3 text-center">

    <div class="logo-container">
      <img src="/files/b5f4ce0450532596d3470d8158779c5d/1765269649060-sample.jpeg"
           class="cyber-logo"
           alt="Cyber Learning Platform Logo">
    </div>

    <h1 class="mt-4">Cyber Learning Platform</h1>

    <p class="lead">
      Interactive Cyber Learning Platform for Practical Hands-on Cybersecurity Training
    </p>

  </div>
</div>

{% endblock %}
